<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Delcab Stores</title>
</head>
<body>
    <div class="grid-container"> 
        <header class="row">
            <div class="brand">
                <a href="index.html">Delcab Art Shop</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/1.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Beautiful Chaos</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 100
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/2.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Curled Rainbow</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 60
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/3.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Projects</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 88
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/4.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Keep Afloat</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 100
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/5.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Maze</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 20
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/6.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Corona</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 100
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/7.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Cold eyes</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 80
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/8.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Calm</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 60
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/9.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Departed Souls</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/10.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Inner Being</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 78
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/11.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Bloody Hands</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 60
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/12.jpg" alt="products">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Faded Disciple</h2>
                        </a>
                        <div class="rating">
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "fa fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <div class="price">
                            $ 82
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">
            All rights reserved 2021
        </footer>
    </div>
</body>
</html>